extends base.pug

block scripts
		script(src='/static/index.js')

			block style 
				style
					include ../static/style.css
					include ../static/about.css	

			
			block content
					div.container
						img.img5(src="/static/img/d5.png")
						p.text Lorem ipsum, dolor sit amet consectetur adipisicing elit. Dicta impedit a deleniti dolores soluta consectetur, aspernatur porro fugit error quo unde mollitia ipsum ab, amet tempora sapiente minus quos numquam! Totam incidunt modi numquam, architecto fugiat nesciunt facere quaerat quibusdam ab sequi qui necessitatibus. Similique nisi, ea itaque vel, quidem unde velit beatae, nemo nostrum architecto accusamus fugit dolorem aut quibusdam debitis? Aperiam sit doloribus consectetur minima ipsam cum esse, harum asperiores facilis nam, libero a porro vero laborum praesentium culpa. Quam eius iste vitae repudiandae blanditiis aliquam in fugiat voluptatibus qui consectetur nulla veritatis nemo ipsam, delectus animi non veniam ea ad soluta distinctio officiis! Amet, praesentium error similique nam repellat qui minus! Accusamus commodi repudiandae fugiat totam, ducimus veritatis quia pariatur blanditiis ab necessitatibus architecto veniam placeat sequi! Suscipit id eos itaque amet, inventore ducimus omnis eveniet facere autem harum quam molestiae dolorem dignissimos temporibus hic vero tempore quod quas sed optio doloribus praesentium deleniti? Fuga aspernatur sapiente perspiciatis nam quidem obcaecati at nostrum aut suscipit, corrupti consequatur error. Ab sed deleniti sit delectus est quam veritatis pariatur quo natus vel et maiores, sequi expedita nihil quidem beatae cum quaerat voluptatibus. Velit natus repudiandae dolorem nisi consequuntur cumque. Natus fugiat consequuntur nulla quos iusto eos, suscipit fugit sequi dolores vitae molestias ea, sunt quod vero aut distinctio quis ullam! Possimus dignissimos nisi perferendis! Ipsa officiis distinctio minima alias. 
						h1 Achivements
						div.col
							p Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ut tempore dolores quam aspernatur ea ad distinctio, expedita maiores eligendi, nemo quae culpa officiis fugit ipsa deleniti necessitatibus nam saepe velit. Autem iste magnam adipisci iusto expedita modi dolore debitis nostrum ipsa fuga ex rerum vero, a quasi voluptates possimus, excepturi voluptas saepe harum facilis nemo eum omnis. Nostrum veritatis sequi illo, maiores mollitia, reiciendis eligendi quisquam facere fugit alias ipsum! Dignissimos id perspiciatis eos repellendus, fugit molestiae ea nobis? Facilis, libero placeat hic esse vel ullam veniam unde, in, explicabo eos labore neque natus possimus. Repellendus sequi quaerat earum ut eum quibusdam fugiat quisquam. Illum possimus, eligendi veniam debitis quod provident. Voluptate, architecto. Provident, aperiam velit quam veniam rem fugiat repellat voluptas, facilis odio porro voluptatibus iure harum cumque quaerat repudiandae neque alias quisquam. Autem atque facere quibusdam in laudantium obcaecati assumenda exercitationem. Expedita, similique aliquam cumque facilis repellendus cum culpa fugit doloribus ut accusantium quas velit hic perspiciatis asperiores aspernatur illum officiis aut in recusandae totam sed et iure? Rerum aliquam fuga obcaecati perspiciatis excepturi facere minima officiis, hic consectetur eveniet, corporis pariatur provident voluptates, ullam quo quod ipsa ipsum incidunt praesentium a dolores! Distinctio dolorem accusamus quos minus itaque quis dolor? Nostrum doloremque libero error, modi dolor tempora maxime provident consequuntur dolore veniam, suscipit cupiditate molestias ducimus iusto ut itaque aut mollitia natus quaerat nesciunt! Perferendis, ipsa accusamus.
						 
					
						