extends base.pug

block scripts
  script(src='/static/index.js')

    block style 
      style
         include ../static/style.css
    body 
        block content 
          section#introsection 
            div  Welcome to our Dance Academy 
            div.small Eat Sleep Dance Repeat
   
          section#ourmission 
            div 
              hr
            h1 Our Mission
            div.card
              h3 Dance Perfection
                div.card-box
                  div.card-img
                        img(src="/static/img/morgan-petroski-LsMxdW1zWEQ-unsplash.jpg")
                        
            div.card
              h3 Dance the way you like
                div.card-box
                  div.card-img
                        img(src="/static/img/aditya-ali-SzI4No8rQ14-unsplash.jpg")
                       
            div.card
              h3 Expert Teaching
                div.card-box
                  div.card-img
                        img(src="/static/img/gordon-cowie-SUADE2U97mE-unsplash.jpg")
                        
    
          section#sponsersection
            h1 Our Sponsors 
            div#sponsors
              img(src="/static/img/img1.png", alt="sponsor image", class="spimage")
              img(src="/static/img/img2.png", alt="sponsor image", class="spimage")
              img(src="/static/img/img3.png", alt="sponsor image", class="spimage")
              img(src="/static/img/img4.png", alt="sponsor image", class="spimage") 