h1{
    text-align: center;
}

h2{
    text-align: left;
    font-size: 30px;
    margin: 1px 1px 1px 26px;
}
.container {
    background-color: rgb(248, 230, 130);
    padding: 21px 37px 249px 37px;  
}
.img1{
    float: left;
    height: 232px;
    width: 165px;
    padding: 6px;
    margin: 16px;
}
.img2{
    float: right;
    height: 232px;
    width: 165px;
    padding: 6px;
    margin: 16px;
}
.img3{
    float: left;
    height: 232px;
    width: 165px;
    padding: 6px;
    margin: 16px;
}


.p1{
    margin: 0px -2px 1px 24px;
    text-align: justify;
}
.p2{
    margin: 32px 21px 16px 26px;
    text-align: justify;
}